ion-icon{
    font-size: 25px;
    padding-left: 10px;
    outline: none;
}

h6{
    font-weight: bold;
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}