<ion-header>
  <ion-toolbar color="primary">
    <span>
      <ion-icon name="arrow-back" routerLink="/ibiblioteca"></ion-icon>
    </span>
    <ion-title>{{book.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen ion-padding>
  <div class="ion-padding">
    <div>
      <img [src]="imageSrc" alt="{{book.title}}">
    </div>
    <div class="info">
      <p><strong>Author</strong>: <span>{{book.author}}</span></p>
      <p><strong>Year</strong>: <span>{{book.year}}</span></p>
      <p><strong>Publisher</strong>: <span>{{book.publisher}}</span></p>
      <p><strong>Synopsis</strong>: <span>{{book.synopsis}}</span></p>
    </div>
  </div>
</ion-content>
