<ion-header>
  <ion-toolbar color="primary">
    <span>
      <ion-icon name="arrow-back" [routerLink]="['/']"></ion-icon>
    </span>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información</ion-card-title>
      </ion-card-header>

      <ion-card-content>
       Aplicación desarrollada por Miguel Cornejo. 
       A continuación puede consultar más información sobre el autor.
      </ion-card-content>

      <ion-footer>
        <ion-list>
          <ion-item [routerLink]="['/curriculum']">
            <ion-icon name="book" ></ion-icon> Currículum Vitae
          </ion-item>
          <ion-item href="mailto:miguel.cornejo.manzanares@gmail.com">
            <ion-icon name="mail"></ion-icon> <strong> Correo</strong>
          </ion-item>
          <ion-item href="https://github.com/Cornejo22">
            <ion-icon name="logo-github"></ion-icon> <strong>GitHub</strong>: Miguel
          </ion-item>
          <ion-item href="tel:+34686272918">
            <ion-icon name="call"></ion-icon> <strong>Teléfono</strong>: 686272918
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-card>

  </div>
</ion-content>