ion-title{
  position: inherit;
  bottom: 0px;
  display: inline-flex;
}

ion-card-header{
  padding-top: 12px;
  padding-bottom: 3px;
  border-bottom: solid 1px black;
  background-color: rgba(128, 128, 128, 0.452);
}

ion-card-header > ion-card-title{
  font-size:1em !important;
  font-weight: bold;
  text-align: center;
}

ion-card-content{
  margin-top: 10px;
  font-weight: 600;
}

ion-footer{
  border-top:solid 1px black;
  padding-top: 12px;
  padding-bottom:10px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color:black;
  outline: none;
}

